<aside id="aside_content">
            
    <li><a href="/Browse">Browser Restaurants</a></li>
    <li><a href="/Share">Share a Restaurants</a></li>
    <li><a href="/about">About EATWELL</a></li>
</aside>