<header>
        <ul id="heading_content">
            <li>
                <h2 id="logo"> <a href="/">EATWELL</a></h2>
            </li>
            <nav>
                <li><a href="/Browse">Browser Restaurants</a></li>
                <li><a href="/Share">Share a Restaurants</a></li>
                <li><a href="/about">About EATWELL</a></li>
            </nav>
            <span id="menu" class="material-symbols-outlined">menu</span>
        </ul>
    </header>