<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat well</title>
    <link rel="icon" href="favicon-16x16.png" type="image">
    <link rel="stylesheet" href="common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link rel="stylesheet" href="home.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="common.js" defer></script>
</head>

<body>
    <%- include("includes/header") %>
    <main>
        <%- include("includes/aside")  %>
        <ul id="main_content">
            <li>
                <h1>Make the world tastier place!</h1> 

            </li>
            <li>
                <p>Share your favorite Restaurants or find recomndation of the users</p>
            </li>
            <div class="branch">
                <li>
                    <h3><a href="/Browse">Browse Shared Restaurants</a></h3>
                </li>
                <li>
                    <h3><a href="/Share">Share Your favorite Restaurant</a></h3>
                </li>
            </div>
        </ul>
    </main>
</body>
</html>